{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'panel/lib/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/lib/css/keen-dashboards.css' %}">
  <link rel="stylesheet" href="{% static 'panel/lib/css/dc.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/custom.css' %}">
  <script src="{% static 'panel/lib/js/jquery.min.js' %}"></script>
  <script src="{% static 'panel/lib/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'panel/lib/js/crossfilter.js' %}" type="text/javascript"></script>
  <script src="{% static 'panel/lib/js/d3.js' %}"></script>
  <script src="{% static 'panel/lib/js/dc.js' %}"></script>
  <script src="{% static 'panel/lib/js/queue.js' %}" type="text/javascript"></script>
  <script src="{% static 'panel/lib/js/keen.min.js' %}" type="text/javascript"></script>
 <script src="{% static 'panel/js/projects.js' %}" type="text/javascript"></script>
<div id="teammateChart"></div>